<div class="container3" style="background-image:url('assets/images/background_image.png')">
    <div class="container2">
        <div class="mainDiv1">
            <span class="eclipse1"></span>
            <span class="headerTitle1">Election Personal Survey</span>
            <span>
                <img class="logoImage1" src="assets/images/Anemoi_Logo_Red.png" alt="Image" width="250px"
                height="50px">
            </span>
        </div>
    </div>
    <div class="buttonCard">
      
            <div class="report1">
                <div class="field1">
    
                    <button class="buttonClass" style="background: #554A99;
                    " pButton pRipple label="Election Personal Survey" (click)="onClickSurvey()"
                        icon="pi pi-sign-in"></button>
                </div>
                <div class="field1">
                    <button class="buttonClass" style="background: #554A99;
                    " pButton pRipple label="Candidate Survey" (click)="onclickCandidateSurvey()"
                        icon="pi pi-sign-in"></button>
                </div>
    
    
            </div>

    </div>
</div>